// Arquivos de Frameworks
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, header, main, footer, section, aside, input, textarea, form, span, ol, ul, li, button, h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'Roboto', sans-serif !important;
}
.bg-aqua{
    background-color: #58C2C0;
}

.bg-aqua-2{
    background-color: #F099A9;
}

.market-icon{
    font-size: 2.25rem;
    color: #58C2C0;
    transition: tranform 4s;
    &:hover{
        color: #58C2C0;
        transform: scale(1.2);
        cursor: pointer;
    }
    &:focus{
        color: #58C2C0;
    }

}

.empty-title{
    font-size: .9rem !important;
}

.shadow-aqua{
    box-shadow: 6px 0px 10px rgb(139, 139, 139);
}

.aqua-search{
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
    border-radius: 50px;
    .aqua-input{
        background-color: #f3f3f3;
        border: none;
        padding: 15px 50px 15px 30px;
        border-radius: 50px;
        font-weight: 300;
        box-sizing: border-box;
        transition: 0.2s;
        &:focus{
            outline: 0 !important;
        }
    }
    .btn-aqua{
        border: none;
        font-size: x-large;
        position: absolute;
        top: 50%;
        right: 3%;
        transform: translateY(-50%);
        padding: 0;
        color: #F099A9 !important;
        background-color: transparent !important;
    }
}

.social-navbar{
    .nav-item{
        .nav-link{
            font-size: 1.75rem;
            transition: transform .5s;
            &:hover{
                transform: scale(1.2);
            }
        }
        .facebook{
            color: #3B5998;
        }
        .instagram{
            color: #DD2A7B;
        }
        .whatsapp{
            color: #4FCE5D;
        }
    }
}

.title-footer{
    font-size: 1.25rem !important;
    color: #F099A9 !important;
}

.nav-footer1{
    .nav-item{
        .nav-link{
            color: rgb(66, 66, 66) !important;
            padding: 1px !important;
            transition: 0.2s;
            &:hover{
                color: #58C2C0 !important;
            }
            &:active{
                color: rgb(255, 171, 14) !important;
            }
        }
    }
}

.nav-footer2{
    .nav-item{
        .nav-link{
            color: rgb(66, 66, 66) !important;
            padding: 1px !important;
            transition: 0.2s;
            &:hover{
                color: #58C2C0 !important;
            }
            &:active{
                color: rgb(255, 171, 14) !important;
            }
        }
    }
}

.empresa{
    font-size: 0.9rem;
    color: rgb(37, 37, 37) !important;
}

.navbar-top{
    .nav-item{
        .nav-link{
            color: white !important;
            transition: 0.2s;
            &:hover{
                color: rgb(252, 252, 35) !important;
            }
            &:active{
                color: rgb(252, 252, 35) !important;
            }
        }
    }
}

.main-title{
    font-size: 2rem;
    color: #F099A9 !important;
}

.product-card{
    border-radius: 10pt !important;
    transition: transform .4s;
    &:hover{
        transform: scale(1.1);
    }
}

.product-img{
    border-top: 0px solid transparent !important;
    border-top-left-radius: 10pt !important;
    border-top-right-radius: 10pt !important;
    border-bottom: 5px solid #F099A9;
}

.card-title{
    color: #F099A9 !important;
    font-size: 1.45rem !important;
}

.stock-aqua{
    color: rgb(66, 66, 66);
}

.prod-info{
    font-size: .9rem !important;
}

.product-link{
    text-decoration: none !important;
}

.col-prod{
    .prod-info{
        color: #58C2C0;
        transition: .2s;
        &:hover{
            color: #F099A9;
        }
    }
}

.form-login{
    border: none !important;
    border-radius: none !important;
    background-color: #F099A9 !important;
    .login-text{
        color: white;
        font-size: 1.4rem !important;
    }
    .aqua-login{
        border: none !important;
        border-radius: 8pt;
        background-color: white !important;
        &:focus{
            outline: 0 !important;
        }
        &::-webkit-input-placeholder{
            color: rgb(39, 39, 39);
            padding-left: 2%;
            &:focus{
                padding-left: 2%;
            }
        }
          
        &:-moz-placeholder{ /* Firefox 18- */
            color: rgb(39, 39, 39);
            padding-left: 2%;
            &:focus{
                padding-left: 2%;
            }
        }
          
        &::-moz-placeholder{  /* Firefox 19+ */
            color: rgb(39, 39, 39);
            padding-left: 2%;
            &:focus{
                padding-left: 2%;
            }  
        }
          
        &:-ms-input-placeholder{  
            color: rgb(39, 39, 39);
            padding-left: 2%;
            &:focus{
                padding-left: 2%;
            }  
        }
    }
}

.link-cadastro{
    text-decoration: none !important;
    color: white !important;
    transition: .2s;
    &:hover{
        color: rgb(39, 39, 39) !important;
    }
}

.btn-login{
    border: none !important;
    background-color: transparent !important;
    color: white !important;
    transition: .2s;
    &:hover{
        color: rgb(39, 39, 39) !important;
    }
}

.header-user{
    .dropdown-toggle::after{
        display: none !important;
    }
}

.border-footer{
    border-top: 8px solid #58C2C0 !important;
}

.link-text{
    color: white !important;
    &:hover{
        text-decoration: underline;
    }
}

.link-icon{
    color: white !important;
    &:hover{
        text-decoration: none !important;
    }
}

.title-lost{
    font-size: 1.4rem !important;
}

.warning-found{
    font-size: 1.2rem !important;
}